.main-section {
  overflow-y: scroll;
  flex: 1;
  max-height: calc(100vh - 100px);

  &__error-message {
    text-align: center;
    color: crimson;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}