.sidebar {
  width: min(100%, 15rem);
  background-color: var(--neutral-white);
  border-right: 1px solid var(--clr-theme);

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__option {
    font-weight: 500;
    padding-block: 1rem;
    padding-inline: .5rem;
    text-decoration: none;
    color: var(--neutral-black);
    transition: background-color 200ms ease;

    border: none;
    background: none;
    font-size: 1rem;
    font-family: inherit;

    &:hover {
      background-color: var(--neutral-white-light);
      cursor: pointer;
    }
  }

  &__selected {
    background-color: var(--clr-theme);
    color: white;

    &:hover {
      cursor: default;
      background-color: var(--clr-theme);
      pointer-events: none;
    }
  }
}